<?xml version="1.0" encoding="utf-8" ?>
<log2netCfg>

  
  <!-- 基础配置-->
  <baseCfg>
    <!--日志级别：1、Off；2、Error；3、Warn； 4、Business ；5、DBRec； 6、Info；7、Debug （默认为7）-->
    <add key="log2NetLevel" value="7" />

    <!--日志记录方式：1、写到文件；2、直接写到数据库；3、通过队列写到数据库；4、消息队列写到数据库；默认为1-->
    <add key="appenderType" value="3" />
  </baseCfg>
  
   
  
  
  <!--用户业务系统名称定义-->
  <userSystemNames>
    <add key="-1" value="所有网站" />
    <add key="0" value="未定义网站" />
    <add key="SysA_01" value="短信接口网站" />
    <add key="201" value="公司OA系统" />
    <add key="901" value="用户数据网站" />
  </userSystemNames>


</log2netCfg>
